/*ULTIMO*/
/*/configuraciones generales------ main settings*/
:root {
  --primary-color: #4f4aa6;
  --secondary-color: #48ca95;
  --bg-color: #f7f7f7;
  --light-color: #fff;

  --header-title-font: Poppins-Bold;
  --text-font: Poppins;
  --menu-font: Poppins-bold;
  --section-tittle-font: Poppins;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-bold';
  src: url('./assets/Fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins-extrabold';
  src: url('./assets/Fonts/Poppins-ExtraBold.ttf');
}

/*header*/

header {
  background-image: url('./assets/Images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: flex-start;
}


nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 30px;

}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
 
}

nav ul li {
  padding: 10px;
}

nav img{
  margin-right: auto;
}
nav ul li a {
  color: var(--light-color);
  text-decoration: none;
  font-family: var(--menu-font);
  
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.selected {
  color: var(--secondary-color);
}

.header-ct {
  max-width: 500px;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  
}

.header-content{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 40px;

}

.btn {
  color: var(--light-color);
  padding: 15px 60px;
  border: 2px solid var(--light-color);
  text-decoration: none;
  text-align: center;
  margin:0px 5px;
 

}

.btn:hover{
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  text-align: center;
}

.header-content-btns{
  margin-top: 50px;

}

.header-title{
      font-size: 60px     ;
      font-family: var(--header-title-font);
}

.header-subtitle{
  font-size: 40px;  
}

.header-img{
  margin: 25px;
}
.bars{
  display:none;
  cursor: pointer;
}
.menu-screen{

justify-content: flex-end;


}

.menu-screen li{
  padding: 10px;
  text-align: right;
}

.menu-screen.show-menu{
  display: flex;
  left: 0;
}

@media(max-width: 800px){
.menu-screen{
  display: none;
  position: relative;
  top: 60px;
  right: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
transition: left 0.3s ease-in-out;
}
.bars{
  display: block;
}
.menu-screen.show-menu{
  display: flex;
  left: 0;
}
.menu-screen li {
  width: 100% ;
  text-align: center;
  padding: 20px;
  font-size: 20px;

}
.menu-screen.show-menu li a:hover{
  color: var(--secondary-color);
}
.bars{
  display: block;
}

}

@media(max-width: 1300px){
  .header-content{
      flex-direction: column;
  }
  .header-ct{
      margin-left: 20px;
  }
  .header-title{
      font-size: 40px;
  }
  .header-ct{
      font-size: 20px;
  }
  .header-ct{
      font-size: 14px;
  }
  .header-content-btns{
      font-size: 14px;
  }
  .btn{
      padding: 10px 30px;
  }
  .header-img{
      margin: 50px 10px;
      width: 97%;
      height: 100%;
      max-width: 500px;
  }
} 
/* End header */

/*Cards section*/
.cards{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.card {
  margin: 5px;  
  padding:30px;
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}


.card h5 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.card ul {
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 10px;
  margin: 0;
}

.img-exp {
  background-color: blue;
}

@media (max-width: 768px) {
  .card {
    width: 90%; /* Tarjeta ocupa el 90% del ancho de la pantalla en dispositivos pequeños */
    min-height: auto; /* Altura automática en dispositivos pequeños */
  }
}

@media (max-width: 576px) {
  .card {
    padding: 20px; /* Reducir el relleno en dispositivos más pequeños */
  }

}
/*End cards section*/
  /*End cards section*/

  /*Form section*/
.contact{
  background-image: url(./assets/Images/contact_g.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
}

.contact-form{
  border: 1px solid var(--light-color);
  padding: 50px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-tittle-white{
  text-transform: uppercase;
  font-size: 26px; 
  font-family: var(--section-tittle-font);
  border-bottom: 1px solid var(--section-tittle-font);
  margin-bottom: 25px;
  color: var(--light-color);
  text-decoration: underline  ;
  text-underline-offset: 8px;

  
}
.contact-input{
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border:1px solid var(--light-color);
  color: var(--light-color);
}

.contact-textarea{
  color:  var(--light-color);
  background-color: transparent;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid var(--light-color);
  resize: none;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.contact-input::placeholder{
  color:var(--light-color);
  opacity: 1;
}
.contact-input::-moz-placeholder{
  color: var(--light-color);
  opacity: 1;

}
.contact-textarea::-moz-placeholder{
  color: var(--light-color);
  opacity: 1;

}
.contact-textarea::placeholder{
  color:var(--light-color);
  opacity: 1;
}



.contact-btn{
  color: var(--light-color);
  border: 2px solid var(--secondary-color);
  padding: 15px 60px;
  background-color: var(--secondary-color);
  text-decoration: none;
  margin: 0px 5px;
  max-width: 150px;
  border-radius: 25px;
  cursor: pointer;
}

.contact-btn:hover{
  color: var(--secondary-color);
  background-color: transparent;
}

@media(max-width:800px){
    .contact-form{
      width: 96%;
    }
}

  /*End form section*/

  /*Section contacto*/
 
.img-contact {
  width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Establece la altura automática para mantener la proporción */
  border-radius: 50%; /* Hace que la imagen tenga bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una ligera sombra */
  margin-bottom: 20px; /* Agrega un margen inferior para separar la imagen del texto */
}
  /*End section contacto*/

/*Footer section*/
    footer{
      background-image: url(assets/Images/footer.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .copyright{
      width: 1200px;
      color: var(--light-color);
      border-top: 1px solid var(--light-color);
      padding: 10px;
      margin: 10px;
      text-align: center;
    }
  
    .footer-content{
      width: 1200px;
      display: flex;
      margin-top: 70px ;
      margin-bottom: 25px;
      flex-direction: column;
      color: var(--primary-color);
    }
/*End footer section*/
